@import "_variables.css";

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

html.dark {
    color: var(--blue);
    background-color: var(--dark-grey);
}

html.light {
    color: var(--green);
    background-color: var(--light-grey);
}

h1 {
    font-size: 8vw;
}